// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(image-path("beanie.jpg"));
  height: 100vh;
  h1 {
    color: white;
  }
}